<div class="smoothies-container" *ngIf="smoothies$ | async as smoothies; else loading">
  <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap="wrap" *ngIf="smoothies">
    <app-smoothie-card class="card" [fxFlex.gt-xs]="50" [fxFlex.gt-md]="regularDistribution" *ngFor="let smoothie of smoothies" [smoothie]="smoothie"></app-smoothie-card>
  </div>
</div>
<ng-template #loading>
  <div class="smoothies-container" fxLayout="row" fxLayoutAlign="center center">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>
