<ng-container *ngIf="fruits$ | async as allFruits; else loading">
  <div class="smoothies-container" fxLayout="row" fxLayoutAlign="center center" *ngIf="smoothie$ | async as smoothie; else loading">
    <app-form-smoothie class="update-container" [smoothie]="smoothie" [allFruits]="allFruits" [jus]="jus" (item)="upateSmoothie($event)"></app-form-smoothie>
  </div>
</ng-container>
<ng-template #loading>
  <div class="smoothies-container" fxLayout="row" fxLayoutAlign="center center">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>
